@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header__content
		p
			font-size: 48px
		h1
			font-size: 36px
			line-height: 1.2

	.header__buttons
    	padding: 30px 0px
	.choose
		h2
			font-size: 18px
		input
			margin: 15px 10px
	.strength__choose
		h2
			&::after
				width: 60px
				margin: 50px -180px
	.descrip
		font-size: 14px

	.flavor__choose
		h2
			&::after
				width: 60px
				margin: 50px -130px
	.aroma__choose
		h2
			&::after
				width: 60px
				margin: 50px -205px
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header__content
		p
			font-size: 32px
		h1
			font-size: 24px
			line-height: 1.2
	
	.header__buttons
    	padding: 10px 0px

	.header__link
		padding: 5px 20px
		font-size: 12px
	.choose
		h2
			font-size: 16px
		input
			margin: 15px 30px
	.strength__choose
		h2
			&::after
				width: 50px
				margin: 40px -160px

	.flavor__choose
		h2
			&::after
				width: 50px
				margin: 40px -115px

	.aroma__choose
		input
			margin: 15px 10px
		h2
			&::after
				width: 50px
				margin: 40px -182px
	.selected
		margin: 15px 50px
		p
        	font-size: 14px
		span
        	font-size: 12px
		button
        	padding: 10px 60px 

/* Extra Small Devices, Phones */
@media only screen and (max-width : 580px)
	.strength
		.container
        	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
	.flavor
		.container
        	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
	.aroma
		.container
        	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
	.header__content
		p
			font-size: 24px
		h1
			font-size: 18px
			line-height: 1.2
	
	.header__buttons
		margin: auto
    	padding: 10px 0

	.header__link
		display: grid
		font-size: 14px
	.choose
		h2
			font-size: 14px
		input
			margin: 15px 5px
	.strength__choose
		h2
			&::after
				width: 50px
				margin: 40px -140px

	.flavor__choose
		h2
			&::after
				width: 50px
				margin: 40px -100px

	.aroma__choose
		input
			margin: 15px 20px
		h2
			&::after
				width: 50px
				margin: 40px -160px
	.selected
		margin: 30px 40px