<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>MixHookah - найди свой микс</title>
	<meta name="description" content="Мы подберем для вас лучший микс, который вы запомните навсегда">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>

<body>
	<header class="header grid" style="background-image: url(img/headerImage.jpg);">

		<div class="header__content grid">
			<p><span>mix</span>hookah</p>
			<h1>
				Для тех, кто просто хочет покурить
			</h1>
			<div class="header__buttons">
				<a href="#" class="header__link">топ миксов</a>
				<a href="#mix" class="header__link header__link_focus">подобрать микс</a>
				<a href="#" class="header__link">о проекте</a>
			</div>
		</div>

	</header>
	<div id="app">
		<section id="mix" class="strength">

			<div class="container grid">
				<div class="strength__choose choose">
					<h2>
						Выберите крепкость
					</h2>
					<hr>
					<div class="strength__button">
						<form id="selectMix" class="grid" action="#">
							<div class="title-hover" data-title="Легкая"><input type="radio" v-model="strength" class="strength__button-input1 radio" name="strength" value="Легкая"/></div>
							<div class="title-hover" data-title="Средняя"><input type="radio" v-model="strength" class="strength__button-input2 radio " name="strength" value="Средняя"/></div>
							<div class="title-hover" data-title="Тяжелая"><input type="radio" v-model="strength" class="strength__button-input3 radio" name="strength" value="Тяжелая"/></div>
							<div class="title-hover" data-title="Смертельная"><input type="radio" v-model="strength" class="strength__button-input4 radio" name="strength" value="Смертельная"/></div>
						</form>
					</div>
				</div>
				<div class="strength__descrip descrip">
					<hr>
					<p> Воздух - самая легкая забивка, дым есть и хорошо. <br>
						Вода -  средняя забивка, мягкая и приятная. <br>
						Земля - забивка для уверенных в себе людей. <br>
						Огонь - категория для экстремалов, кто хочет что бы его легкие вышли после первой затяжки.<br>
					</p>
					<hr>
					</div>
				</div>
			
			</section>

		<section class="flavor">

			<div class="container grid">
				<div class="flavor__choose choose">
					<h2>
						Выберите вкус
					</h2>
					<hr>
					<div class="flavor__button">
						<form id="selectMix" class="grid" action="#">
							<div class="title-hover" data-title="Сладкий"><input type="radio" v-model="flavor" class="flavor__button-input1 radio" name="flavor" value="Сладкий"/></div>
							<div class="title-hover" data-title="Кислый"><input type="radio" v-model="flavor" class="flavor__button-input2 radio" name="flavor" value="Кислый"/></div>
							<div class="title-hover" data-title="Пряный"><input type="radio" v-model="flavor" class="flavor__button-input3 radio" name="flavor" value="Пряный"/></div>
							<div class="title-hover" data-title="Травяной"><input type="radio" v-model="flavor" class="flavor__button-input4 radio" name="flavor" value="Травяной"/></div>
						</form>
					</div>
				</div>
				<div class="flavor__descrip descrip">
					<hr>
					<p>
						Сладкий - в микс будут добавлены <br>
						Кислый - в микс будут добавлены  <br>
						Пряный - в микс будут добавлены  <br>
						Травяной - в микс будут  <br>добавлены
					</p>
					<hr>
				</div>
			</div>

		</section>

		<section class="aroma">

			<div class="container grid">
				<div class="aroma__choose choose">
					<h2>
						Выберите направление
					</h2>
					<hr>
					<div class="aroma__button">
						<form id="selectMix" class="select-form grid" action="#">
							<div class="title-hover" data-title="Фруктовый"><input type="radio" v-model="aroma" class="aroma__button-input1" name="aroma" value="Фруктовый"/></div>
							<div class="title-hover" data-title="Ягодный"><input type="radio" v-model="aroma" class="aroma__button-input2" name="aroma" value="Ягодный"/></div>
							<div class="title-hover" data-title="Десертный"><input type="radio" v-model="aroma" class="aroma__button-input3" name="aroma" value="Десертный"/></div>
						</form>
					</div>
				</div>
				<div class="selected">
					<hr>
					<p>Выбранная крепкость:</p><span>{{strength}}</span><br>
					<p>Выбранный вкус:</p><span>{{flavor}}</span><br>
					<p>Выбранное направление:</p><span>{{aroma}}</span><br>
					<button form="selectMix">Найти</button>
					<hr>
				</div>
			</div>
		</section>
</div>
	<footer class="footer">
		<div class="container">
			<div class="footer__logo">
				<p><span>mix</span>hookah</p> 
			</div>
		</div>
	</footer>

	<link rel="stylesheet" href="css/main.min.css?v1.2">
	<script src="js/vue.js"></script>
	<script src="js/test.js"></script>
</body>
</html>
